.dashboard-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background: black;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    
  }
  
  .sidebar {
    margin-top:12vh;
    width: 20%;
    background: black;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.929);
    transition: transform 0.3s ease;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top:2vh;
  }
  
  .sidebar li {
    color:white;
    padding: 12px 0;
    margin-top:2vh;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .sidebar .active {
    color: #4a00e0;
    font-weight: 700;
    margin-top:2vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .profile-card{
    margin-top: 12vh;
  }
  
  .profile-card,
  .account-card,
  .bills-card,
  .order-history {
    background:black;
    color:white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.656);
    transition: transform 0.3s ease;
  }
  
  .profile-card:hover,
  .account-card:hover,
  .bills-card:hover,
  .order-history:hover {
    transform: translateY(-5px);
  }
  
  .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top:2vh;
    border: 3px solid #4a00e0;
  }
  
  .profile-name {
    font-size: 1.8rem;
    margin-top:2vh;
    font-weight: bold;
    color: #fefefe;
  }
  
  .profile-info {
    color:white;
  }
  
  .edit-profile {
    background-color: #4a00e0;
    color: white;
    padding: 12px;
    margin-top:2vh;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .edit-profile:hover {
    background-color: #7b00ff;
  }
  
  .paid {
    color: green;
    font-weight: bold;
  }
  
  .not-paid {
    color: red;
    font-weight: bold;
  }
  
  .completed {
    color: gray;
  }
  
  .pending {
    color: orange;
  }
  
  .cancelled {
    color: red;
  }

  .p{
    margin-top:2vh;
  }