.header-wrapper-n {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1000;
    top: -100px;
    transition: background-color 0.3s ease, top 0.5s ease;
    z-index: 1000;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

.header-wrapper-n.scrolled{
    background-color: rgba(0, 0, 0, 0.5);
    height: 13vh;
}

.header-n {
    display: flex;
    width: 90vw;
    align-items: center;
    height: auto;
}

@keyframes slideIn {
    0% {
      top: -100px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }

.logo-container {
    width: 15%;
}

.logo-image-n {
    height: 15vh;
    background-position: center;
    background-size: contain;    /* Ensures the entire image is visible within the container */
    background-repeat: no-repeat;
    background-image: url('../head/image.png');
}

.link-container {
    justify-content: center;
    display: flex;
    width: 70%;
    align-items: center;
    gap: 15px;
}

.link-component {
    color: white;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
    list-style: none;
    margin: 0 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.contact-container button {
    font-family: 'Druk Text Trial', sans-serif;
    background: transparent;
    color: white;
    border: 1px solid white;     
    padding: 8px 16px;            
    font-size: medium;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    width: 100%;   
}

.contact-container button:hover {
    background-color: white;      
    color: black;               
}
