.news-section {
    background-color: #F2F2F2;
    color: #fff;
    padding: 20px;
    padding-top: 15vh; /* Отступ сверху, чтобы контент был ниже хедера */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 130vh; /* Обеспечивает, что секция займет минимум всю высоту экрана */
}

.footer {
    width: 100%;
    margin-top:5vh;
    text-align: center; /* Ensure text aligns to the center */
}

.news-item {
    background-color:#fff;
    border-radius: 8px;
    padding: 30px;
    margin: 15px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Make sure content is aligned to the left */
    text-align: left; /* Align text to the left inside the news item */
}

/* Updated styles for the circular button */

.news-link {
    display: inline-flex;               /* Разрешить отображение кнопки в строку, при этом использовать свойства flex */
    justify-content: center;            /* Центрировать контент по горизонтали */
    align-items: center;               /* Центрировать контент по вертикали */
    width: 125px;                       /* Установить ширину кнопки (увеличена с 50px) */
    height: 40px;                       /* Установить высоту кнопки */        /* Зеленый цвет фона */
    color: black;                       /* Белый цвет текста */
    font-size: 1rem;                    /* Увеличен размер шрифта для лучшей читаемости */
    text-align: center;                 /* Центрировать текст внутри кнопки */
    border: none;                       /* Убрать обводку */
    cursor: pointer;                   /* Курсор в виде руки при наведении */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавное изменение фона и эффекта масштабирования */
    text-decoration: none;              /* Убрать подчеркивание текста (если оно есть) */
}

.news-link:hover {
    background-color:solid silver;          /* Темно-зеленый цвет фона при наведении */
    transform: scale(1.2);              /* Легкое увеличение кнопки при наведении для более приятного визуального эффекта */
}


.news-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.news-title {
    font-size: 1.2rem;
    color:black;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left; /* Ensure title is left-aligned */
}

.news-description {
    font-size: 0.9rem;
    color: black;
    margin-bottom: 15px;
    text-align: left; /* Ensure description is left-aligned */
}


