/* Main container */
.main-container {
  padding-top: 10vh; /* Space from the top */
  background-color: black;
  text-align: center;
}

/* Title at the top of the page */
.page-name {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

/* Container for the map and days of the week */
.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch; /* Ensure both the map and days container are equal height */
}

/* Left container for days of the week */
.time-work {
  flex: 1;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  height: 500px; /* Set the height to match the map */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Work time title */
.work {
  font-size: 1.5rem;
  color: white;
  margin-top:0;
  margin-bottom: 10px;
}

/* Styling for the days and address container */
.day-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Individual day blocks */
.day, .address {
  background-color:  #1d2327;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  font-size: 1.1rem;
  padding: 15px;
}

/* Map container */
.map-container {
  flex: 1;
  height: 540px; /* Fixed height to match the days container */
  border-radius: 20px; /* Same border radius to match the workdays container */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

/* Responsive design */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    gap: 20px;
  }
  
  .time-work {
    flex: 0 0 100%;
    height: 400px; /* Adjust height on smaller screens */
  }

  .map-container {
    flex: 0 0 100%;
    height: 400px; /* Adjust height on smaller screens */
  }
}
