.projects-section {
    width: 100%;
    background-color: black;
    padding-top: 15vh !important;
    display: flex;
    flex-direction: column;
    gap: 50px;
    animation: fadeIn 1s ease-in-out;
}

.footer {
    padding-bottom: 0 !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-item {
    display: flex;
    width: 90%;
    margin-left: 8vh;
    align-items: stretch;
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
    transition: transform 0.3s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-item.left {
    flex-direction: row;
}

.project-item.right {
    flex-direction: row-reverse;
}

.project-image-container {
    width: 50%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-item:hover .project-image {
    transform: scale(1.1);
}

.project-info {
    width: 50%;
    height: 300px;
    padding: 40px;
    background-color: #1d2327;
    color: white;
    text-align: left;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title {
    margin-top: 0;
    font-size: 3.9rem;
    margin-bottom: 15px;
    font-family: 'Druk Trial', sans-serif;
    color: white;
}

.project-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 100%;
    color: white;
}

.project-button {
    margin-top: auto;
    align-self: flex-start;
    background-color: #1b2329;
    padding: 20px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    font-size: 1.5rem;
    font-family: 'Druk Trial', sans-serif;
}

.project-button:hover {
    transform: scale(1.25);
    background-color: #1d2327;
}

.buy-link {
    display: flex;
    gap: 20px;
}

.buy-link .buy-button {
    padding: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    font-size: 1.5rem;
    font-family: 'Druk Trial', sans-serif;
    border-radius: 8px;
    background-color: #1d2327;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buy-link .buy-button:hover {
    transform: scale(1.25);
    background-color: #d0d0d0;
}

.projects-section .buy-link {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}

.project-item .project-button {
    padding: 20px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    font-size: 1.5rem;
    font-family: 'Druk Trial', sans-serif;
    border-radius: 8px;
    background-color: #1d2327;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item .project-button:hover {
    transform: scale(1.25);
    background-color: #d0d0d0;
}

@media (max-width: 768px) {
    .project-item {
        flex-direction: column;
    }

    .project-image-container {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .project-info {
        width: 100%;
        height: auto;
    }

    .project-title {
        font-size: 2.5rem;
    }

    .project-description {
        font-size: 1rem;
    }

    .project-button {
        font-size: 1.2rem;
    }
}